body
{
    background-color: #dfe6e9;
}

.section-head h2
{
    color: #222f3e;
    font-size: 2.5rem;
}

.section-head h5
{
    color: #0abde3;
    font-size: 1.25rem;
}

.main-btn
{
    width: 10rem;
    background-color: transparent;
    font-size: 1.1rem;
    font-weight: 500;
    border: 3px solid;
    border-radius: 5px;
}

.primary-btn, .primary-btn:visited
{
    background-color: #0abde3;
    color: #222f3e;
    border-color: transparent;
}

.primary-btn:visited
{
    border-color: #0abde3;
}

.primary-btn:hover
{
    background-color: transparent;
    color: #dfe6e9;
    border-color: #0abde3;
}

.secondary-btn, .secondary-btn:visited
{
    background-color: transparent;
    color: #dfe6e9;
    border-color: #0abde3;
}

.secondary-btn:visited
{
    background-color: transparent;
}

.secondary-btn:hover, .secondary-btn:active
{
    background-color: #0abde3;
    color: #222f3e;
    border-color: transparent;
}

input:hover, input:focus, textarea:hover, textarea:focus, .main-btn:focus
{
    outline: none !important;
    box-shadow: none !important;
}